<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyFridge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form class="dropdown-menu p-4">
    <div class="form-group">
        <label for="IDFrigo">ID Frigo</label>
        <input type="tel" class="form-control" id="IDFrigo" placeholder="ID">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
        <label class="form-check-label" for="dropdownCheck2">
            Remember me
        </label>
    </div>
    <button href="/index" type="submit" class="btn btn-primary">Sign in</button>
</form>

</body>
</html>