<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MyFridge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <html xmlns:th="http://www.thymeleaf.org">
</head>
<body>

<form method="get" th:action="@{/acceuil}" th:object="${myFridges}">
<aside>
    <div class="listefridge">
        <label>Mon frigo</label>
        <table class="table table-striped table-dark">
            <thead class="thead-light">
            <tr>
                <th scope="col">Reference</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="frigo : ${myFridges}">
                <td scope="row" th:text="${frigo.reference}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</aside>

<div class="form-group">
    <input type="submit" value="Creer nouveau refrigerateur" class="btn float-right login_btn">
</div>
</form>

</body>
</html>